### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

**/__pycache__/**

# Local runtime files
server.log
server.pid

# SQLite databases
*.sqlite